<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        table{
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
        table thead th{
            border:1px solid black;
        }
        table tbody td{
            border:1px solid black;
        }
    </style>

</head>
<table cellspacing="0" cellpadding="0">
    <thead>
    <th>书籍id</th>
    <th>书名</th>
    <th>作者</th>
    <th>页数</th>
    <th>价格</th>
    </thead>
    <tbody>
    <td th:text="${map.id}"></td>
    <td th:text="${map.name}"></td>
    <td th:text="${map.author}"></td>
    <td th:text="${map.page}"></td>
    <td th:text="${map.price}"></td>
    </tbody>

</table>

<body>

</body>
</html>