<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        table{
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
        table thead th{
            border:1px solid black;
        }
        table tbody td{
            border:1px solid black;
        }
    </style>
</head>
<body>
<table cellpadding="0" cellspacing="0">
    <thead>
    <th>学生学号</th>
    <th>学生姓名</th>
    <th>学生年龄</th>
    <th>学生班级</th>
    <th>课程列表</th>
    <th>课程分数</th>
    </thead>
    <tbody>
    <tr th:each="entries,stat:${list}">
        <td th:text="${stat.count}"></td>
        <td th:text="${entries.sId}"></td>
        <td th:text="${entries.sName}"></td>
        <td th:text="${entries.sAge}"></td>
        <td th:text="${entries.sGrade}"></td>
        <td th:object="${entries.sCourses}">
            <span th:text="*{cName}"></span>
        </td>
        <td th:object="${entries.sCourses}">
            <span th:text="*{sScore}"></span>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>